@import "tailwindcss";

@theme {
  /* Custom color palette */
  --color-primary-50: #eff6ff;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
}

@layer base {
  html {
    scrollbar-gutter: stable;
  }

  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
  }
}
